* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: var(--gray-500);
  max-width: 0.5vw;
  max-height: 1vh;
}

::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--purple);
}

::-webkit-scrollbar-corner {
  background: var(--gray-500);
}

:root {
  /* Main colors */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* Base colors */
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  /* Typography */
  --font-family-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);

  --font-family-inconsolata: "Inconsolata", monospace;
  --subtitle: 20px/120% var(--font-family-inconsolata);

  --font-family-maven-pro: "Maven Pro", sans-serif;
  --text-md: 16px/140% var(--font-family-maven-pro);
  --text-sm: 14px/140% var(--font-family-maven-pro);
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--text-md);
  color: var(--gray-100);

  min-width: 1366px;

  background: repeat center/900% url(../assets/Background_Intro.png);
}

h1,
h3,
p {
  cursor: text;
}
