#projects {
  height: 100vh;
  row-gap: 56px;
  position: relative;

  padding-block: 72px 144px;

  & > div {
    margin-inline: auto;

    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
