#projects {
  row-gap: 56px;
  position: relative;

  background: repeat center/900% url(../assets/Background_Intro.png);

  padding-block: 72px 144px;

  & > div {
    margin-inline: auto;

    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
