#services {
  background-color: var(--gray-600);

  padding-block: 88px 120px;

  & > div {
    justify-content: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 280px);

    & > div {
      border: 2px var(--gray-500) solid;
      border-radius: 12px;
      & > img {
        width: 48px;
      }
    }
  }
}
