.flex,
.card {
  display: flex;
}

.flex-column,
.card {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.badge {
  font: var(--text-md);
  color: var(--gray-200);
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  background-color: var(--gray-400);
  border-radius: 40px;
  padding: 8px 16px;
}

.container {
  padding-inline: 120px;
}

.text-red {
  color: var(--red);
}

.text-purple {
  color: var(--purple);
}

.subtitle {
  font: var(--subtitle);
}

.title-sm {
  font: var(--title-sm);
  color: var(--gray-100);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-200);
}

.grid {
  display: grid;
}

.gap-24 {
  gap: 24px;
}

.row-gap-56 {
  row-gap: 56px;
}

.card {
  width: 330px;
  height: 280px;

  row-gap: 20px;

  background-color: var(--gray-400);
  border-radius: 12px;
  padding-inline: 12px;
  padding-block: 12px 17px;

  & > img {
    object-fit: cover;

    border-radius: 8px;
  }

  & > div {
    text-align: left;
    padding: 4px;

    display: flex;
    flex-direction: column;

    position: relative;

    row-gap: 8px;

    & > h3 {
      flex-basis: 27.59px;
    }
  }

  &:has(.in-progress) > div > h3::after {
    font: var(--text-sm);
    font-weight: 600;
    content: "In progress";
    top: 4px;
    right: 4px;
    position: absolute;
    color: var(--gray-600);
    background-color: var(--yellow);
    padding: 4px 8px;
    border-radius: 8px;
  }
}

section:has(header .subtitle) header {
  row-gap: 8px;
  text-align: center;
}
