.flex,
.card {
  display: flex;
}

.flex-column,
.card {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.badge {
  font: var(--text-md);
  color: var(--gray-200);
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  background-color: var(--gray-400);
  border-radius: 40px;
  padding: 8px 16px;
}

.container {
  padding-inline: 120px;
}

.text-red {
  color: var(--red);
}

.text-purple {
  color: var(--purple);
}

.text-gray-200 {
  color: var(--gray-200);
}

.subtitle {
  font: var(--subtitle);
}

.title-sm {
  font: var(--title-sm);
  color: var(--gray-100);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-200);
}

.p-20 {
  padding: 20px;
}

.grid {
  display: grid;
}

.gap-24 {
  gap: 24px;
}

.row-gap-8 {
  row-gap: 8px;
}

.row-gap-16 {
  row-gap: 16px;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-48 {
  row-gap: 48px;
}

.row-gap-56 {
  row-gap: 56px;
}

.column-gap-12 {
  column-gap: 12px;
}

.card {
  width: 330px;
  height: 280px;

  row-gap: 20px;

  background-color: var(--gray-400);
  border-radius: 12px;
  padding-inline: 12px;
  padding-block: 12px 17px;

  position: relative;

  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.07);
  }

  /* trick to make a full card invisible square for cursor pointer */
  &:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  & > img {
    object-fit: cover;

    border-radius: 8px;
  }

  & > div {
    text-align: left;
    padding: 4px;

    display: flex;
    flex-direction: column;

    position: relative;

    row-gap: 8px;

    & > h3 {
      flex-basis: 27.59px;
    }
  }

  &:has(.in-progress) > div > h3::after {
    font: var(--text-sm);
    font-weight: 600;
    content: "In progress";
    top: 4px;
    right: 4px;
    position: absolute;
    color: var(--gray-600);
    background-color: var(--yellow);
    padding: 4px 8px;
    border-radius: 8px;
  }

  &:hover:not(:has(.in-progress)) > div > h3::after {
    content: "  ";
    background: no-repeat center/cover url(/assets/icons/ArrowUpRight.svg);

    width: 20px;
    height: 20px;

    position: absolute;
    right: 4px;
  }
}

section:has(header .subtitle) header {
  row-gap: 8px;
  text-align: center;
}

.contact-card {
  background-color: var(--gray-400);
  padding: 20px;
  border-radius: 8px;
  width: 400px;

  align-items: center;

  position: relative;

  & > p {
    flex-grow: 1;
  }

  & > img:last-child {
    width: 20px;
  }

  &:hover {
    :after {
      content: "";
      position: absolute;
      inset: 0;
      cursor: pointer;
      border-radius: 8px;
      padding: 1px;
    }

    border: 1.5px solid var(--blue);
    transform: scale(1.05);
  }
}
